
<!--<% @products.each do |product| %>
  <tr>
    <td><%= product.product_name %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
    <td><%= product.quantity %></td>
    <td><%= product.category %></td>
    <td><%= image_tag product.image %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>-->
<table>
  <tr>
  <% counter = 1 %>
  <% @products.each do |product| %>
  <td>
    <p><%= image_tag product.image %></p>
    <!--<p><%= product.product_name %></p>-->
    <p><%= product.description %></p>
    <p>$<%= product.price %></p>
    </td>
  <%counter += 1%>
  <% if(counter == 4)%>
    <%counter = 1%>
    </tr>
    <tr>
  <%end%>
<% end %>
</table>
<br />

